<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--SQLServer Instansce-->
    <add key="Server_Name" value="localhost" />
    <add key="User" value="sa" />
    <add key="Pass" value="chungcien" />
    <!--EMAIL Setting-->
    <add key="SMTP_Server" value="192.168.67.22" />
    <add key="Port" value="25" />
    <add key="EnableSsl" value="false" />
    <add key="Email" value="noreply@cmcglobal.vn" />
    <add key="Password" value="Abcd@1234" />
    <!-- FTP Setting -->
    <add key="FTP_SERVER_URI" value="ftp://localhost/" />
    <add key="FTP_USER" value="admin" />
    <add key="FTP_PASSWORD" value="chungcien" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>